{%extends "bootstrap/base.html"%}
{% block title %}HopUp User Login{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/login">Login</a></li>
      <li><a href="/project_register">Start a new Project</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}

{%block content%}
<form method="post" action="/login">
    <div class="container">
       <label><b>UserName</b></label>
       <input type="text" placeholder="Enter user name" id = "uname" name="uname" required>

       <label><b>Password</b></label>
       <input type="password" placeholder="Enter password" id = "pwd" name="pwd" required>

       <button type="submit">Login</button>
       <input type="checkbox" checked="checked">Remember Me
    </div>
    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="pwd">Forgot <a href="#">password??</a></span>
    </div>
</form>
{%endblock%}
