{% extends 'bootstrap/base.html'%}
{% block title %}HopUp User Login{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/login">Login</a></li>
      <li><a href="/project_register">Start a new Project</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
{%block content%}
<!doctype html>
<html>
<head>
  <script type="text/javascript">
  </script>
  <style type="text/css">
    .Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
  </style>
  <div class="container" align="center">
    <h1>Project Created Successfully</h1>
  </div>
</head>
<body>
  {% for project in projectList %}
  <div class="Table">
    <div class="Title">
        <p>Project created successfully</p>
    </div>
    <div class="Heading">
        <div class="Cell">
            <p>ProjectID</p>
        </div>
        <div class="Cell">
            <p>ProjectTitle</p>
        </div>
        <div class="Cell">
            <p>Project Category</p>
        </div>
        <div class="Cell">
            <p>Project Sub Category</p>
        </div>
        <div class="Cell">
            <p>Country</p>
        </div>
        <div class="Cell">
            <p>Project Image link</p>
        </div>
        <div class="Cell">
            <p>Project Description</p>
        </div>
        <div class="Cell">
            <p>Project Location</p>
        </div>
        <div class="Cell">
            <p>Project fund duration</p>
        </div>
        <div class="Cell">
            <p>Project fund goal</p>
        </div>
        <div class="Cell">
            <p>Project Location</p>
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>{{project[0]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[1]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[2]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[3]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[4]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[5]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[6]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[7]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[8]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[9]}}</p>
        </div>
        <div class="Cell">
            <p>{{project[10]}}</p>
        </div>
    </div>

</div>
{% endfor %}

</body>
</html>
{%endblock%}
