{% extends 'bootstrap/base.html'%}
{% block title %}HopUp User Login{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/login">Login</a></li>
      <li><a href="/project_register">Start a new Project</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
{%block content%}
<!doctype html>
<html>
<head>
  <div class="container" align="center">
    <h1>Register the rewards you are going to give to the fund donors for your project</h1>
    Appreciate the help people are doing by giving them some rewards or by giving them some extra privileged access to your project
  </div>
</head>
<body>
  <form method="post" action="/reward">
    <div class="container">
    <h2 align = "center"> Reward </h2>
    <div class="form-group" align="center">
      <label for="rewardTitle">Reward Title</label>
      <input type="text" class="form-control" id="rewardTitle" name="rewardTitle" placeholder="Title for reward">
    </div>
    <div class="form-group" align="center">
      <label for="pledgedAmount">Pledged Amount</label>
      <input type="text" class="form-control" id="pledgedAmount" name="pledgedAmount" placeholder="$0">
    </div>
    <div class="form-group" align="center">
      <label for="rewardDescription">Reward Description</label>
      <textarea rows="3" cols="40" id="rewardDescription" name="rewardDescription">
        Think of creative rewards like ebooks, videos, your project manuals, t-shirts with your project logo,...
      </textarea>
    </div>
    <div class="form-group" align="center">
      <label for="expectedDelivery">Expected Delivery</label>
      <label for="month">Month</label>
      <select name="month" id="month">
	       <option value = "1">01</option>
	       <option value = "2">02</option>
	       <option value = "3">03</option>
	       <option value = "4">04</option>
	       <option value = "5">05</option>
	       <option value = "6">06</option>
	       <option value = "7">07</option>
	       <option value = "8">08</option>
	       <option value = "9">09</option>
	       <option value = "10">10</option>
	       <option value = "11">11</option>
	       <option value = "12">12</option>
      </select>

      <label for="year">Year</label>
      <select name="year" id="year">
	       <option value = "1">2017</option>
	       <option value = "2">2018</option>
	       <option value = "3">2019</option>
	       <option value = "4">2020</option>
	       <option value = "5">2021</option>
	       <option value = "6">2022</option>
	       <option value = "7">2023</option>
	       <option value = "8">2024</option>
	       <option value = "9">2025</option>
	       <option value = "10">2026</option>
      </select>
    </div>
    <div class="form-group" align="center">
      <label for="shippingDetails">ShippingDetails</label>
      <select name="shippingDetails" id="shippingDetails">
	       <option value = "1">No shipping involved</option>
	       <option value = "2">Ships anywhere in the world</option>
	       <option value = "3">Ships only to specific countries</option>
      </select>
    </div>
    <div class="form-group" align="center">
      <label for="rewardLimit">Limit availability of reward</label>
      <select name="rewardLimit" id="rewardLimit">
	       <option value = "1">Limit to few number of donors</option>
	       <option value = "2">Limit by specific time period</option>
      </select>
    </div>
  </div>
  <button type="submit" style="background-color:blue;margin:auto;display:block">Add Reward</button>
  <br>
  </form>
  <form method='GET' action="/story">
    <div class="container">
      <button type="submit" style="background-color:grey;margin:auto;display:block">Go Ahead and tell your story</button>
    </div>
  </form>
</body>
</html>
{%endblock%}
